div.cover {
    text-align: center;
    background: url('../images/logic circuit2.jpg')  no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    /*padding: 85px 0.9375em 500px;*/
    width: 100%;
    height: 50%;

}

div.cover-text {
    position: relative;
    top: 20%;

    width: 100%;
    height: 100%;

    font-size: 20px;
}
div.cover-text > h1 {
    color: #4682B4;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 1px 1px #000000;
}

#big-name {
	margin-bottom: 0;
	font-weight: bold;
}

hr {
	margin-top: 0px;
	padding-top: 0px;
    width: 90%;
}

a.active {
	background-color: #ddd
}

a.title-link {
	text-decoration: none;
	color: #555;
}

a.icon-link {
    text-decoration: none;
    color: #555;   


}

div.navigation a {
  width: 60px;
  color: #333333;
  /*display: block;*/
}

body {
	color: #555555;
}


.navbar-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; 
}

#content code {
    display: block;
    padding: 0.5em 0.5em;
    border: 1px solid #bebab0;
}

.demo-link {
	margin-left: 5px;
	color: #2578cf;
}

*,*:focus {
	box-sizing: border-box;
}

img.three-images {
    margin: .6em;
}

.wide-row {
    width: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 80px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

}

#android {
  color: #78C257;
}

#viz {
  /*color: #4682B4;*/
  color: #FFB958;

}

#sites {
  color: #78C257;

  /*color: #FFB958;*/
}

.separator
{
  background: #272727;
  height: 2px;
  margin: 20px 0px;
}

.circleIcon
{
  /*border: 2px solid white;*/

  border-radius: 32px;

  color: white;

  padding: 20px 23px;
  margin-right: 20px;
  margin-bottom: 20px;

  background: #333;
}

.circleIcon:hover
{
  background: #424242;

  color: white;
}

.circleIcon:active
{
  background: #777777;
}

.hoverGrey:hover
{
  background: #E3E3E3;
}

.footer
{
  position: fixed;
  bottom: 0px;
  left: 0px;

  /*background: #aaaaaa;*/

  width: 100%;
  height: 55px;

  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 30px;
}

#software-expertise {
  background: #efefef;
  padding: 50px 0px;
}

#languages {
  margin: 100px;
}

#form-bg {
  background: #efefef;
}
.form {
  padding-top: 50px;
  margin: 0 auto;
  width: 50%;
}

.donut {
  /*align;*/
}

.donutLabel {
  font-size: 24px;
}