#big-name {
	margin-bottom: 0;
	font-weight: bold;
}

hr {
	margin-top: 0px;
	padding-top: 0px;
}

a.active {
	background-color: #ddd
}

a.title-link {
	text-decoration: none;
	color: #555;
}

div.navigation a {
  width: 60px;
  color: #333333;
  /*display: block;*/
}

body {
	color: #555555;
}


.navbar-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; 
}

#job-title {
	/*text-align: right;*/
}

#content code {
    display: block;
    padding: 0.5em 0.5em;
    border: 1px solid #bebab0;
}

.demo-link {
	margin-left: 5px;
	color: #2578cf;
}

*,*:focus {
	box-sizing: border-box;
}