#big-name {
	margin-bottom: 0;
	font-weight: bold;
}

hr {
	margin-top: 0px;
	padding-top: 0px;
    width: 90%;
}

a.active {
	background-color: #eee
}

a.title-link {
	text-decoration: none;
	color: #555;
}

a.icon-link {
    text-decoration: none;
    color: #555;   


}

div.navigation a {
  width: 60px;
  color: #333333;
  /*display: block;*/
}

body {
	color: #555555;
  margin-bottom: 150px;
}

.navbar-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; 
}

#content code {
    display: block;
    padding: 0.5em 0.5em;
    border: 1px solid #bebab0;
}

.demo-link {
	margin-left: 5px;
	color: #2578cf;
}

*,*:focus {
	box-sizing: border-box;
}

img.three-images {
    margin: .6em;
}

.wide-row {
    width: 100%;
}

#sites {
  color: #78C257;

  /*color: #FFB958;*/
}

.separator
{
  background: #272727;
  height: 2px;
  margin: 20px 0px;
}

.circleIcon
{
  /*border: 2px solid white;*/
  text-decoration: none;
  font-weight: bolder;

  border-style: solid;
  border-color: white;
  border-radius: 32px;

  color: white;

  padding: 20px 23px;
  margin-right: 20px;
  margin-bottom: 20px;

  background: #333;
}

.circleIcon:hover
{
  background: #424242;

  color: white;
}

.circleIcon:active
{
  background: #777777;
}

.hoverGrey:hover
{
  background: #E3E3E3;
}

.footer
{
  position: fixed;
  bottom: 0px;
  left: 0px;

  /*background: #aaaaaa;*/

  width: 100%;
  height: 55px;

  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 30px;
}

.project {
  /*width:100%;*/
  height: 200px;
  background-size: cover;

  /*background-position: top; */
  position:relative;

}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.inline-title {
  display: inline-block
}

.float-left {
  float: left;
}

span.drop-cap {
  float:left;
  color:#B4B4B7;
  font-size:64px;
  line-height:35px;
  padding-top:3px; 
  padding-right:3px;
  font-family: Times, serif, Georgia;
}

.project-container {
  margin-bottom: 20px;
}