{% extends "layout.html" %}
{% set active_page = "home" %}

{% block title %} Home {% endblock %}

{% block home_cover %}
	<div class="cover">
	    <div class='cover-text'>
	        <h1>Gregory Guterman</h1>
	        <p>2015 B.S., Computer Science, UC Davis</p>
	    </div>
    </div>
{% endblock %}
{% block name_and_title %} {% endblock %}

{% block body %}
	<div class='row wide-row' >
		<h2> Software Expertise </h2>
		<div align='center' class='four columns hoverGrey'>
			<i class="material-icons"><a class='icon-link' href='/games'>android </a></i>
			<h3><a class='icon-link' href='/games'> Games </a> </h3>
			<p>Made 3 games in Unity. One is alpha in the Play Store.</p>
		</div>
		<div align='center' class='four columns hoverGrey'>
			<i class="material-icons">remove_red_eye</i>
			<h3> Visualizations </h3>
			<p> </p>
		</div>
		<div align='center' class='four columns hoverGrey'>
			<i class="material-icons">web</i>
			<h3> Websites </h3>
			<p> </p>
		</div>
<!-- </div> -->
{% endblock %}