{% extends "layout.html" %}
{% set active_page = "home" %}

{% block title %} Home {% endblock %}

{% block home_cover %}
	<div class="cover">
	    <div class='cover-text'>
	        <h1>Gregory Guterman</h1>
	        <p>2015 B.S., Computer Science, UC Davis</p>
	    </div>
    </div>
{% endblock %}
{% block name_and_title %} {% endblock %}
{% block nav_bar %} {% endblock %}
{% block body %}
	<div id='software-expertise'>
		<h2> I'm Greg and I love making things. </h2>
		
	</div>
{% endblock %}