{% extends "layout.html" %}
{% set active_page = "visualizations" %}

{% block title %} Visualizations {% endblock %}
{% block body %}
    <div class='top-stuff'>
        <h2>Genome Explorer</h2>
        <div class='row'>
		    <div class='five columns'>
		        <p>
		         I made a genome visualization at VIDI Labs with Chris Bryan and <a href'http://web.cs.ucdavis.edu/~ma/'>Dr. Kwan Liu Ma</a>. I started the project a year ago and maintain it to this day. 
		        </p>
		        <p>
		         The Java/Processing application we made allows users to compare genomes. We leveraged recent advances in Bioinformatics to show how a mammalian common ancestor evolved into today's animals, such as Human and Chimpanzee.
		        </p>
		        <p>
		         Our viz. uses animation and color to show how chromosomes mutate and rearrange themselves and form new species to people who don't know much about genomics.
		         As more contiguous ancestral region data becomes available, our visualization will become more and more rich, since we made new data easy to add in the back-end.
		        </p>
		    </div>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/genome.png'>
		    </div>
		</div>
    </div>
{% endblock %}