{% extends "layout.html" %}
{% set active_page = "visualizations" %}

{% block title %} Visualizations {% endblock %}
{% block body %}
    <div class='top-stuff'>
        <h2>Genome Explorer</h2>
        <div class='row'>
		    <div class='five columns'>
		        <p>
		         I work at VIDI Labs with Chris Bryan and <a href'http://web.cs.ucdavis.edu/~ma/'>Dr. Kwan Liu Ma</a> on a genome visualization that I started a year ago and maintain to this day.

		         The Java/Processing application we made allows users, to see the DNA that extant mammals, like the Dog and Chimpanzee, have in common on a chromosomal level. The visualization is designed for both genomics domain experts and lay-users alike. It makes use of Contiguous Ancestral Region (CAR) data, which recently became available thanks to a breakthrough in Bioinformatics. As more CAR data becomes available, our visualization research will become more useful.
		         </p>
		    </div>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/genome.png'>
		    </div>
		</div>
    </div>
{% endblock %}