{% extends "layout.html" %}
{% set active_page = "visualizations" %}

{% block title %} Visualizations {% endblock %}
{% block body %}
	<div class="project-container" id='Plankton Populations'>
	    <div class='top-stuff'>
	        <h2>Plankton Populations</h2>
	    </div>
        <div class='row'>
		    <div class='six columns'>
		    	<img width=100% src='http://www.exploratorium.edu/sites/default/files/East_LivingLiquids.jpg'>
		    </div>
		    <div class='six columns'>
		    	<img width=100% src='../static/images/ppop-guide.png'>
		    </div>
		    <div class='twelve columns'>
		    	<p>I worked on an ocean plankton visualization at the Exploratorium. I added interactive graphs that let visitors explore environmental conditions such as light and nutrient concentrations at any point in the world.</p>
		    </div>
		</div>
    </div>	

	<div class="project-container" id='Synteny Explorer'>
	    <div class='top-stuff'>
	        <h2>Synteny Explorer</h2>
	    </div>
        <div class='row'>
		    <div class='five columns'>
		        <p>
		         I made a genome evolution visualization at VIDI Labs with Chris Bryan and <a href'http://web.cs.ucdavis.edu/~ma/'>Dr. Kwan Liu Ma</a>. I started the project a year ago and maintain it to this day. 
		        </p>
		        <p>
		         Our application is the first attempt to present evolution on the chromosomal level to novice users. To share our work, I co-authored a paper for the IEEE SciVis conference.
		        </p>
		        <p>
		         Our Java visualization uses animation and color to show how chromosomes mutate, rearrange and form new species. I wrote the visualization for both genomic data as well as phylogenetic tree data. As more data becomes available, our visualization will become more and more rich, since new data is easy to add in the back-end. We are currently looking into adapting it for use in biology classes at UCD.
		        </p>
		    </div>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/genome.png'>
		    </div>
		</div>
    </div>	
    <div class="project-container" id='All of the Video Games'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>All of the Video Games</h2>
	        <a class='demo-link' href='http://github.com/hashcacher/all-of-the-games'>(github)</a>
	        <a class='demo-link' href='all-of-the-games'>(demo)</a>
	    </div>
        <div class='row'>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/allgames.png'>
		    </div>
		    <div class='five columns'>
		        <p>
		         To be continued...
		        </p>
		    </div>
		</div>
    </div>
{% endblock %}