{% extends "layout.html" %}
{% set active_page = "websites" %}

{% block title %} Websites {% endblock %}
{% block body %}

    <div id='Davis Dinner Club'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>Davis Dinner Club</h2>
	        <a class='demo-link' href='ddc'>(demo)</a>
	    </div>
        <div class='row'>
		    <!-- <div class='seven columns'>
		    	<img width=100% src='../static/images/allgames.png'>
		    </div> -->
		    <div class='five columns'>
		        <p>
		         To be continued...
		        </p>
		    </div>
		</div>
    </div>
{% endblock %}