{% extends "layout.html" %}
{% set active_page = "websites" %}

{% block title %} Websites {% endblock %}
{% block body %}
    <div class="project-container" id='CodeStory'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>CodeStory</h2>
	        <a class='demo-link' href='https://codestory.xyz'>(demo)</a>
	    </div>
        <div class='row'>
	    <div class='twelve columns'>
		<img width=100% src='../static/images/CodeStory.jpg'>
		<a href="../static/images/CodeStory (1).jpg"><img width=49% src='../static/images/CodeStory (1).jpg'></a>
		<a href="../static/images/CodeStory (2).jpg"><img width=49% src='../static/images/CodeStory (2).jpg'></a>
	    </div>

	    <div class='twelve columns'>
		<p>
		Visualizes any codebase. Integrates with Github,
		parses files and renders the callgraph in interactive SVG.
		Supports 5+ languages with more to come.
		</p>
	    </div>

	    <div class='twelve columns'>
	    </div>
	    <div class='twelve columns'>
		<p>Visualizes pull requests by performing a diff on the two flow charts. I have not found another tool that
		does this. I work alone on this project.</p>
	    </div>
	</div>
    </div>

    <div class="project-container" id='3dgifmaker'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>3d Gif Maker</h2>
	        <a class='demo-link' href='https://www.3dgifmaker.com'>(demo)</a>
	    </div>
        <div class='row'>
	    <div class='twelve columns'>
		<video width=100% src='../static/videos/3dgifmaker.mp4' autoplay loop>
	    </div>

	    <div class='twelve columns'>
		<p>
		HTML5 / WebGL / Vanilla JS interactive image transformer lets users
		make entertaining gifs from their favorite images.
		</p>
	    </div>
	</div>
    </div>
    <div class="project-container" id='Radio Playlists'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>Radio Playlist Aggregator</h2>
	        <a class='demo-link' href='http://radioplaylist.live/'>(demo)</a>
	    </div>
        <div class='row'>
	    <div class='twelve columns'>
		<img width=100% src='../static/images/radioplaylists.png'>
	    </div>

	    <div class='twelve columns'>
		<p>
		 Scrapes a couple of local radio stations websites. Page hot updates and infinitely scrolls with the power of React.js. Uses Youtube Data API and caches song links.
		</p>
	    </div>
	</div>
    </div>

    <div class="project-container" id='js-parser'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>JavaScript Static Analyzer</h2>
	        <a class='demo-link' href='https://github.com/hashcacher/challenge-framework'>(github)</a>
	        <a class='demo-link' href='http://gregoryguterman.com/challenge-framework'>(demo)</a>
	    </div>
        <div class='row'>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/js-static-analyzer.png'>
		    </div>
		    <div class='five columns'>
		        <p>
		         Use the static analyzer to whitelist or blacklist any constructs such as functions, loops, etc. in your code.
		        </p>
		    </div>
		</div>
    </div>


    <div class="project-container" id='Davis Dinner Club'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>Davis Dinner Club</h2>
	        <a class='demo-link' href='ddc'>(demo)</a>
	    </div>
        <div class='row'>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/ddc.png'>
		    </div>
		    <div class='five columns'>
		        <p>
		         To be continued...
		        </p>
		    </div>
		</div>
    </div>
{% endblock %}
