{% extends "layout.html" %}
{% set active_page = "websites" %}

{% block title %} Websites {% endblock %}
{% block body %}
    <div class="project-container" id='Radio Playlists'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>CodeStory</h2>
	        <a class='demo-link' href='http://35.190.12.14'>(demo)</a>
	    </div>
        <div class='row'>
			<div class='twelve columns'>
		    	<img width=100% src='../static/images/codestory.png'>
		    </div>

		    <div class='twelve columns'>
		        <p>
		        Visualizes any codebase. Integrates with Github, parses files in many different languages, and renders the callgraph in interactive SVG.
		        </p>
		    </div>
		</div>
    </div>
    
    <div class="project-container" id='Radio Playlists'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>Radio Playlist Aggregator</h2>
	        <a class='demo-link' href='http://138.68.21.93:3002/'>(demo)</a>
	    </div>
        <div class='row'>
			<div class='twelve columns'>
		    	<img width=100% src='../static/images/radioplaylists.png'>
		    </div>

		    <div class='twelve columns'>
		        <p>
		         Scrapes a couple of local radio stations websites. Page hot updates and infinitely scrolls with the power of React.js. Uses Youtube Data API and caches song links.
		        </p>
		    </div>
		</div>
    </div>

    <div class="project-container" id='js-parser'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>JavaScript Static Analyzer</h2>
	        <a class='demo-link' href='https://github.com/hashcacher/challenge-framework'>(github)</a>
	        <a class='demo-link' href='http://tekbubble.com:3001'>(demo)</a>
	    </div>
        <div class='row'>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/js-static-analyzer.png'>
		    </div>
		    <div class='five columns'>
		        <p>
		         Use the static analyzer to whitelist or blacklist any constructs such as functions, loops, etc. in your code.
		        </p>
		    </div>
		</div>
    </div>


    <div class="project-container" id='Davis Dinner Club'>
	    <div class='top-stuff'>
	        <h2 class='inline-title'>Davis Dinner Club</h2>
	        <a class='demo-link' href='ddc'>(demo)</a>
	    </div>
        <div class='row'>
		    <div class='seven columns'>
		    	<img width=100% src='../static/images/ddc.png'>
		    </div>
		    <div class='five columns'>
		        <p>
		         To be continued...
		        </p>
		    </div>
		</div>
    </div>
{% endblock %}
